h1 {
	color: #e70000;
}
h2 {
	color: white;
}
h3 {
	color: white;
}

body {
	text-align: center;
	background: #141010;
	font-family: 'Bai Jamjuree', sans-serif;
	color: white;
	padding: 40px 100px;
}

.avatar {
	width: 300px;
	border: 5px solid: #232931;
	border-radius: 10px;
	box-shadow: 2px 2px 10px #232931;
}

.bio {
	font-size: 24px;
}

.network {
	font-size: 24px;
	color: #cb0101;
	text-decoration: none;
	text-align: center;
}
.network:hover {
	color: #c62727;
	text-decoration: none;
}

.mail {
	color: #cb0101;
	text-decoration: none;
}
.mail:hover {
	color: #c62727;
	text-decoration: none;
}